* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}


.content {
    width: 100%;
    padding: 150px 0;
}

.inner {
    width: 1176px;
    margin: 0 auto;
}

.inner::after {
    content: '';
    display: block;
    clear: both;
}


.content .title {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.content.on .title {
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
        padding: 120px 40px
    }

    .content .inner {
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        padding: 80px 40px
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 100%;
        padding: 60px 20px
    }
}



#header {
    position: relative;
    width: 100%;
    height: 120px;
}

#header .inner {
    width: 1176px;
    margin: 0 auto;
}

#header .logo {
    float: left;
}

#header .logo>a {
    display: block;
    font: bold 40px/120px 'Mukta';
    color: #444;
}

#header .gnb_wrap {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center
}

#header .sns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 10%;
}

#header .sns li {
    padding: 0 10px;
}

#header .sns li a {
    display: block;
    font: 20px/60px 'Mukta';
    color: #444;
}


#gnb {
    margin-left: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#gnb>li {
    position: relative;
}

#gnb>li>a {
    display: block;
    padding: 0 20px;
    font: 14px/120px 'Mukta';
    color: #444;
}

#gnb>li>.submenu {
    position: absolute;
    left: 0;
    top: 120px;
    z-index: 10;
    padding: 20px 30px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #444;
    text-align: left;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    transition: 0.7s;
}

#gnb>li.on>.submenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

#gnb>li>.submenu>li>a {
    display: block;
    position: relative;
    z-index: 10;
    font: 14px/36px 'Mukta';
    color: #444;
}

.toggle {
    display: none;
}


@media screen and (max-width:1200px) {
    #header {
        padding: 0 40px;
    }

    #header .inner {
        width: 100%;
    }

    #gnb {
        margin-left: 10%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    #gnb>li>a {
        padding: 0 15px;
    }

    #header .sns {
        margin-left: 5%;
    }

}

@media screen and (max-width:980px) {
    #header {
        height: 80px;
    }

    #header .logo>a {
        font-size: 34px;
        line-height: 80px;
    }

    #header .gnb_wrap {
        position: fixed;
        right: -300px;
        top: 0;
        z-index: 10;
        display: block;
        width: 300px;
        height: 100%;
        background-color: #eee;
        text-align: center;
        transition: 0.4s
    }

    #header .gnb_wrap.on {
        right: 0;
    }

    #gnb {
        display: block;
        width: 100%;
        margin: 80px 0 20px;
    }

    #gnb>li {
        width: 100%;
    }

    #gnb>li>a {
        line-height: 60px;
        color: #444;
    }

    #header .sns {
        width: 100%;
        justify-content: center;
        margin-left: 0%;
    }

    #header .sns>li {
        margin-left: 0px;
    }

    #header .sns>li>a {
        padding: 0 20px;
        color: #666;
    }


    #gnb>li>.submenu {
        display: none;
        position: static;
        width: 100%;
        text-align: center;
        background-color: #fff;
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
        transition: 0s;
    }


    .toggle {
        display: block;
        position: fixed;
        right: 40px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
        color: #555;
        z-index: 100;
    }




}




#visual {
    position: relative;
    width: 100%;
    height: 800px
}

#visual .inner {
    position: relative;
    width: 1176px;
    height: 100%;
    margin: 0 auto;
}

#visual .inner::after {
    content: '';
    display: block;
    clear: both;
}

#visual .swiper-container {

    width: 100%;
    height: 100%;
    overflow: visible
}

#visual .swiper-slide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#visual .swiper-slide .info {
    text-align: center;
}

#visual .swiper-slide .info1 {
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
}

#visual .swiper-slide .info2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#visual .swiper-slide .info3 {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0 0 5px rgba(99, 70, 33, 0.4);
}

#visual .swiper-slide .info .title {
    font: 300 44px 'Lora';
}

#visual .swiper-slide .info .txt {
    padding: 18px 0;
    font: 24px 'Mukta'
}

#visual .swiper-slide .info .btn {
    margin: 0 auto;
    width: 140px;
    height: 40px;
    background-color: #222;
}

#visual .swiper-slide .info .btn a {
    display: block;
    font: 14px/38px 'Lora';
    color: #fff;
    text-align: center;
}

#visual .box {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
    width: 73%;
    height: 100%;
}

#visual .swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

#visual .swiper-pagination-bullet {
    margin: 0 8px;
    background-color: #333;
}

#visual .swiper-button-prev {
    color: #333;
}

#visual .swiper-button-next {
    color: #333;
}


@media screen and (max-width: 1200px) {
    #visual {
        height: 700px;
    }

    #visual .inner {
        width: 100%;
    }

    #visual .swiper-slide .info {
        padding: 0 10%;
    }

}


@media screen and (max-width: 980px) {
    #visual {
        height: 600px;
    }

    #visual .swiper-slide {
        position: relative;
    }

    #visual .swiper-slide::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.45)
    }

    #visual .swiper-slide .info {
        position: relative;
        z-index: 10;
        padding: 0;
    }

    #visual .swiper-slide .info1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #visual .swiper-slide .info2 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #visual .swiper-slide .info3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        text-shadow: none;
    }

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {
    #visual {
        position: relative;
        height: 500px;
    }

    #visual .swiper-slide .info .title {
        font-weight: bold;
        font-size: 30px;
    }

    #visual .swiper-slide .info .txt {
        padding: 20px 0;
        font-size: 20px;
    }

    #visual .swiper-slide .info .btn {
        margin: 0 auto;
        width: 140px;
        height: 40px;
        background-color: #222;
    }

    #visual .swiper-slide .info .btn a {
        display: block;
        font: 14px/38px 'Lora';
        color: #fff;
        text-align: center;
    }
}




#best .title {
    margin-bottom: 20px;
    font: 50px 'Mukta';
    color: #cc9110;
    text-align: center;
}

#best .title span {
    padding: 0;
    font: 30px 'Mukta';
    color: #444;
}

#best .tab {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: 1000px;

}

#best .tab {
    transform: translateY(70px);
    opacity: 0;
    transition: 0.9s
}

#best.on .tab {
    transform: translateY(0);
    opacity: 1;
}


#best .tab>li {
    padding: 0 40px 10px;
}

#best .tab>li::before {
    position: absolute;
    left: 50%;
    top: 4.5%;
    transform: translateX(-50%);
    z-index: -1;
    content: '';
    width: 490px;
    height: 3px;
    background-color: #bbb;
}

#best .tab>li>.menu_box>a.menu {
    display: block;
    font: bold 18px 'Mukta';
    color: #bbb;
    transition: 0.4s
}

#best .tab>li>.menu_box>a.menu::after {
    position: absolute;
    opacity: 0;
    transition: 0.3s
}

#best .tab>li>.menu_box>a.menu1::after {
    left: 35.5%;
    top: 4.5%;
    transform: translateX(-50%);
    content: '';
    width: 145px;
    height: 3px;
    background-color: #cc9110;
}

#best .tab>li>.menu_box>a.menu2::after {
    left: 52.5%;
    top: 4.5%;
    transform: translateX(-50%);
    content: '';
    width: 105px;
    height: 3px;
    background-color: #cc9110;
}

#best .tab>li>.menu_box>a.menu3::after {
    left: 67%;
    top: 4.5%;
    transform: translateX(-50%);
    content: '';
    width: 83px;
    height: 3px;
    background-color: #cc9110;
}

#best .tab>li>.menu_box>a.menu:hover::after {
    opacity: 1;
}

#best .tab>li>.menu_box>a.menu.on::after {
    opacity: 1;
    transition: 0.4s;
}

#best .tab>li>.menu_box>a.menu.on {
    color: #cc9110;
    transition: 0.4s;
}

#best .tab .pannel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
}

#best .tab .pannel .box {
    padding: 40px 0;
    width: 23.5%;
    height: 410px;
    margin-bottom: 24px;
    background-color: #f4f7ec;
    border-radius: 10px;
}

#best .tab .pannel .box .pic {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#best .tab .pannel1 .box .pic1 {
    background-image: url(../img/products_1_.png);
}

#best .tab .pannel1 .box .pic2 {
    background-image: url(../img/products_2_.png);
}

#best .tab .pannel1 .box .pic3 {
    background-image: url(../img/products_3_.png);
}

#best .tab .pannel1 .box .pic4 {
    background-image: url(../img/products_4_.png);
}

#best .tab .pannel1 .box .pic5 {
    background-image: url(../img/products_5_.png);
}

#best .tab .pannel1 .box .pic6 {
    background-image: url(../img/products_6_.png);
}

#best .tab .pannel1 .box .pic7 {
    background-image: url(../img/products_7_.png);
}

#best .tab .pannel1 .box .pic8 {
    background-image: url(../img/products_8_.png);
}


#best .tab .pannel2 .box .pic9 {
    background-image: url(../img/products_12_.png);
}

#best .tab .pannel2 .box .pic10 {
    background-image: url(../img/products_13_.png);
}

#best .tab .pannel2 .box .pic11 {
    background-image: url(../img/products_14_.png);
}

#best .tab .pannel2 .box .pic12 {
    background-image: url(../img/products_19_.png);
}

#best .tab .pannel2 .box .pic13 {
    background-image: url(../img/products_16_.png);
}

#best .tab .pannel2 .box .pic14 {
    background-image: url(../img/products_17_.png);
}

#best .tab .pannel2 .box .pic15 {
    background-image: url(../img/products_18_.png);
}

#best .tab .pannel2 .box .pic16 {
    background-image: url(../img/products_15_.png);
}


#best .tab .pannel3 .box .pic17 {
    background-image: url(../img/products_20_.png);
}

#best .tab .pannel3 .box .pic18 {
    background-image: url(../img/products_21_.png);
}

#best .tab .pannel3 .box .pic19 {
    background-image: url(../img/products_22_.png);
}

#best .tab .pannel3 .box .pic20 {
    background-image: url(../img/products_23_.png);
}

#best .tab .pannel3 .box .pic21 {
    background-image: url(../img/products_24_.png);
}

#best .tab .pannel3 .box .pic22 {
    background-image: url(../img/products_25_.png);
}

#best .tab .pannel3 .box .pic23 {
    background-image: url(../img/products_26_.png);
}

#best .tab .pannel3 .box .pic24 {
    background-image: url(../img/products_27_.png);
}


#best .tab .pannel .info .product {
    font: bold 18px 'Mukta';
    color: #444;
}

#best .tab .pannel .info .price {
    font: bold 17px 'Mukta';
    color: #cc9110;
}

#best .tab .pannel .info .icon>li {
    display: inline-block;
    margin: 20px 10px 0;
}

#best .filter {
    display: none;
}



@media screen and (max-width:1200px) {
    #best {
        padding: 120px 40px;
    }

    #best .tab>li>.pannel>.box {
        width: 22.75%;
        margin: 0 0 20px;
    }
}

@media screen and (max-width:980px) {
    #best .tab .pannel .box .pic {
        height: 230px;
    }

    #best .tab>li>.menu_box>a.menu::after {
        position: absolute;
        opacity: 0;
        transition: 0.3s
    }

    #best .tab>li>.menu_box>a.menu1::after {
        left: 30%;
        top: 4.5%;
        transform: translateX(-50%);
        content: '';
        width: 140px;
        height: 3px;
        background-color: #cc9110;
    }

    #best .tab>li>.menu_box>a.menu2::after {
        left: 53.5%;
        top: 4.5%;
        transform: translateX(-50%);
        content: '';
        width: 105px;
        height: 3px;
        background-color: #cc9110;
    }

    #best .tab>li>.menu_box>a.menu3::after {
        left: 73.1%;
        top: 4.5%;
        transform: translateX(-50%);
        content: '';
        width: 83px;
        height: 3px;
        background-color: #cc9110;
    }
}

@media screen and (max-width:768px) {
    #best .tab>li>.pannel>.box {
        width: 48.5%;
    }

    #best .tab {
        display: block;
        margin: 0 auto;
        height: 1500px;
    }

    #best .tab .pannel {
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
    }

    #best .tab .pannel .box {
        padding: 20px 0;
        height: 350px;
    }

    #best .tab .pannel .box .pic {
        height: 240px;
    }


    #best .tab>li {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    #best .filter {
        display: block;
        margin: 0 auto 22px;
        width: 150px;
        font: 20px 'Mukta';
        text-align: center;
        color: #444;
        border: 2px solid #666;
        border-radius: 20px;
    }

    #best .filter::after {
        display: inline-block;
        margin-left: 20px;
        content: '\f105';
        font: 900 18px/30px 'Font AweSome 5 Free';
        transition: 0.3s;
    }

    #best .inner.on .filter::after {
        transform: rotate(90deg);
    }

    #best .inner.on .filter {
        border-color: transparent;
        color: #fff;
        background-color: #cc9010b2
    }

    #best .tab>li>.menu_box {
        display: none;
        position: relative;
        z-index: 10;
    }

    #best .tab>li>.menu_box>a.menu {
        display: block;
        width: 280px;
        height: 80px;
        font: 16px/80px 'Mukta';
        color: #444;
        transition: 0s;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px #eee;
    }

    #best .tab>li>.menu_box>a.menu::after {
        display: none;
        transition: 0s
    }

    #best .tab>li>a.menu:hover::after {
        opacity: 0;
    }

    #best .tab>li>a.menu.on::after {
        opacity: 1;
        transition: 0s;
    }

    #best .tab>li>a.menu.on {
        color: #cc9110;
        transition: 0s;
    }

    #best .tab>li>a.menu::after {
        display: none;
    }

    #best .tab>li::before {
        display: none;
    }
}

@media screen and (max-width:480px) {
    #best .tab {
        height: 1350px;
    }

    #best .tab>li>.pannel>.box {
        width: 48%;
        margin: 0 0 15px;
    }

    #best .tab .pannel .box {
        padding: 20px 0;
        height: 300px;
    }

    #best .tab .pannel .box .pic {
        height: 190px;
    }

}

@media screen and (max-width:350px) {
    #best .tab {
        height: 2650px;
    }

    #best .tab>li>.pannel>.box {
        width: 100%;
        margin: 0 0 15px 0;
    }
}




#choose .title {
    margin-bottom: 20px;
    font: 50px 'Mukta';
    color: #cc9010b2;
    text-align: left;
}

#choose .title span {
    padding: 0;
    font: 30px 'Mukta';
    color: #777;
}

#choose .wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#choose .pic {
    background-image: url(../img/MaisonLookBook_660x600_1_750x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 47%;
    height: 580px;
    border-radius: 10px;
}

#choose .info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-items: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    width: 47%
}

#choose .subtitle {
    padding: 18px 0;
    border-bottom: 1px dotted #999;
}

#choose .subtitle a {
    display: block;
    font: 22px 'Mukta';
    color: #444;
}

#choose .subtitle a::before {
    display: inline-block;
    margin-right: 20px;
    content: '\f105';
    font: 900 16px/30px 'Font AweSome 5 Free';
    background-color: #fff;
    box-shadow: 0 0 10px #bbb;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    transition: 0.3s;
}

#choose .subtitle a:hover::before {
    background-color: #fff;
    transform: rotate(90deg);
}

#choose .subtitle.on a::before {
    background-color: #cc9010b2;
    transform: rotate(90deg);
}

#choose .box .txt {
    display: none;
    font: 17px 'Mukta';
    color: #666;
    padding: 24px 0;
}

#choose .pic {
    transform: translateX(-70px);
    transition: 0.8s;
    opacity: 0
}

#choose .box {
    transform: translateY(70px);
    transition: 1s;
    opacity: 0
}


#choose.on .pic {
    opacity: 1;
    transform: translateX(0px);
}

#choose.on .box {
    transform: translateY(0px);
    opacity: 1
}


@media screen and (max-width: 1200px) {}

@media screen and (max-width: 980px) {
    #choose .title {
        margin-bottom: 13px;
        font-size: 40px;
    }

    #choose .title span {
        padding: 0;
        font: 22px 'Mukta';
        color: #777;
    }

    #choose .pic {
        height: 550px;
    }

    #choose .subtitle a {
        font-size: 18px;
        font-weight: 300
    }

    #choose .box .txt {
        font: 17px 'Mukta';
        color: #666;
        padding: 16px 0
    }
}

@media screen and (max-width: 768px) {
    #choose .title {
        text-align: center;
    }

    #choose .wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #choose .pic {
        width: 100%;
        height: 320px;
    }

    #choose .info {
        width: 100%
    }
}

@media screen and (max-width: 640px) {
    #choose .pic {
        height: 290px;
    }
}

@media screen and (max-width: 480px) {
    #choose .pic {
        height: 260px;
    }
}

@media screen and (max-width: 350px) {}



#about .title {
    margin-bottom: 20px;
    font: 50px 'Mukta';
    color: #cc9010b2;
    text-align: left;
}

#about .title span {
    padding: 0;
    font: 30px 'Mukta';
    color: #999;
}

#about .wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#about .box {
    width: 49%
}

#about .pic {
    background-image: url(../img/MaisonLookBook_660x600_2_750x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    border-radius: 10px;
}

#about .info {
    padding: 3% 0;
}

#about .info .txt {
    margin: 10px 0 30px;
    font: 20px 'Mukta';
    color: #444;
}

#about .info .btn {
    font: 18px/48px 'Lora';
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

#about .info .btn a {
    color: black
}

#about .pic {
    transform: translateX(80px);
    opacity: 0;
    transition: 0.9s
}

#about .info .txt {
    transform: translateY(85px);
    opacity: 0;
    transition: 0.7s
}

#about .info .btn {
    transform: translateY(90px);
    opacity: 0;
    transition: 0.9s
}

#about.on .pic {
    transform: translateX(0px);
    opacity: 1;
}

#about.on .info .txt {
    transform: translateY(0px);
    opacity: 1;
}

#about.on .info .btn {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 980px) {
    #about .title {
        margin-bottom: 13px;
        font-size: 40px;
    }

    #about .title span {
        padding: 0;
        font: 22px 'Mukta';
        color: #777;
    }

    #about .pic {
        height: 550px;
    }

    #about .subtitle a {
        font-size: 18px;
        font-weight: 300
    }

    #about .box .txt {
        font: 17px 'Mukta';
        color: #666;
        padding: 16px 0
    }
}

@media screen and (max-width: 768px) {
    #about .title {
        text-align: center;
    }

    #about .wrap {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    #about .pic {
        width: 100%;
        height: 320px;
    }

    #about .info {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
    }

    #about .info .txt {
        text-align: center;
    }

    #about .info .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    #about .pic {
        height: 290px;
    }
}

@media screen and (max-width: 480px) {
    #about .pic {
        height: 260px;
    }
}

@media screen and (max-width: 350px) {
    #about .info .btn {
        font: 14px/48px 'Lora';
        width: 150px;
        height: 50px;
        border: 1px solid black;
        text-align: center;
    }
}




#point {
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden
}

#point video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#point::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#point span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#point span a {
    font: 80px 'Mukta';
    color: rgba(255, 255, 255, 0.78);
    opacity: 0;
    transition: 0.5s
}

#point:hover a {
    opacity: 1;
}

@media screen and (max-width: 980px) {
    #point {
        height: 420px;
    }

    #point span a {
        opacity: 1
    }
}

@media screen and (max-width: 768px) {
    #point {
        height: 360px;
    }
}

@media screen and (max-width: 640px) {
    #point {
        height: 320px;
    }
}

@media screen and (max-width: 480px) {
    #point {
        height: 280px;
    }
}




#review {
    background-color: #f4f7ec
}

#review .title {
    margin-bottom: 30px;
    font: 50px 'Mukta';
    color: #cc9010b2;
    text-align: center;
}

#review .title span {
    padding: 0;
    font: 30px 'Mukta';
    color: #999;
}

#review {
    overflow: hidden
}

#review .swiper-container {
    width: 100%;
    height: 300px;
    overflow: visible
}

#review .swiper-slide {
    width: 100%;
    height: 100%;
}

#review .swiper-slide .info {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 60%;
    height: 100%;
}

#review .swiper-slide .info::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: #fafcf7;
    width: 130%;
    height: 90%;
    border-radius: 50px
}

#review .swiper-slide .info .box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px 40px 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 18px #ced3c3;
}

#review .swiper-slide .info .pic {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 16px;
    padding: 8px;
    width: 50%;
    height: 100%;
}

#review .swiper-slide .info .pic img {
    display: block;
    margin-top: -40px;
    width: 100%;
}


#review .swiper-slide .info .txt_box {

    position: relative;
    padding: 20px 20px 0px 0px;
    width: 40%;
    text-align: center;
}

#review .swiper-slide .info .txt_box::before {
    margin: 0 0 0 -10%;
    content: '\f10d';
    display: block;
    font: 900 30px 'Font Awesome 5 free';
    color: #eee;
    text-align: left;
}

#review .swiper-slide .info .txt_box::after {
    margin-top: -5%;
    content: '\f10e';
    display: block;
    font: 900 30px 'Font Awesome 5 free';
    color: #eee;
    text-align: right;
}

#review .swiper-slide .info .txt_box .txt1 {
    font: 18px 'Mukta';
    color: #444;
}

#review .swiper-slide .info .txt_box .txt2 {}

#review .swiper-slide .info .txt_box .txt2 li {
    display: inline-block;
    padding: 10px 0;
    font-size: 14px;
    color: #444;
    font-family: 'Mukta';
}

#review .swiper-slide .info .txt_box .name {
    font: 14px 'Mukta';
    color: #444;
}

#review .swiper-button-prev {
    width: 36px;
}

#review .swiper-button-prev::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    border-bottom: 2px solid #adadac;
    transition: 0.3s
}

#review .swiper-button-prev::after {
    content: 'prev';
    font: 20px 'Mukta';
    color: #adadac;
}

#review .swiper-button-next {
    width: 36px;
}

#review .swiper-button-next::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    border-bottom: 2px solid #adadac;
    transition: 0.3s
}

#review .swiper-button-next::after {
    content: 'next';
    font: 20px 'Mukta';
    color: #adadac;
}

#review .swiper-button-prev:hover::before {
    transform: scaleX(0.5)
}

#review .swiper-button-next:hover::before {
    transform: scaleX(0.5)
}



@media screen and (max-width: 980px) {
    #review .swiper-container {
        height: 500px;
    }

    #review .swiper-slide .info .box {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        height: 500px;
    }

    #review .swiper-slide .info .pic {
        width: 60%;
        height: 100%;
    }

    #review .swiper-slide .info .pic img {
        margin-top: 0;
    }

    #review .swiper-slide .info .txt_box {
        padding: 0;
        width: 80%;
    }

}

@media screen and (max-width: 768px) {
    #review .swiper-container {
        height: 450px;
    }

    #review .swiper-slide .info .box {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        height: 450px;
    }

    #review .swiper-slide .info {
        width: 60%;
        height: 100%;
    }

    #review .swiper-slide .info::before {
        height: 85%;
    }
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {

    #review .swiper-slide .info .box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 30px
    }

    #review .swiper-slide .info .pic {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 16px;
        padding: 8px;
        width: 65%;
        height: 49%;
    }

    #review .swiper-slide .info {
        width: 100%;
    }

    #review .swiper-slide .info .txt_box {
        padding: 0;
        height: 48%;
    }

    #review .swiper-slide .info::before {
        display: none;
    }

    #review .swiper-button-prev {
        display: none
    }

    #review .swiper-button-next {
        display: none
    }
}

@media screen and (max-width: 350px) {
    review .swiper-container {
        height: 470px;
    }

    #review .swiper-slide .info .box {
        height: 470px;
        justify-content: center;
    }

    #review .swiper-slide .info .pic {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 16px;
        padding: 8px;
        width: 90%;
        height: 40%;
    }

    #review .swiper-slide .info .txt_box {
        padding: 0;
        height: 60%;
    }
}



#gallery .title {
    margin-bottom: 30px;
    font: 50px 'Mukta';
    color: #cc9010b2;
    text-align: center;
}

#gallery .title span {
    padding: 0;
    font: 30px 'Mukta';
    color: #999;
}

#gallery .wrap::after {
    content: '';
    clear: both;
    display: block;
}

#gallery .title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 30px;
}

#gallery .wrap {
    position: relative;
    width: 1176px;
    height: 876px;
    text-align: center;
    transition: 0.3s;
}

#gallery .box {
    position: absolute;
    display: inline-block;
    width: 276px;
    height: 276px;
    overflow: hidden;
    transition: 0.3s;
}

#gallery .box:hover .info {
    opacity: 1;
}

#gallery .box:nth-of-type(1) {
    left: 0;
    top: 0;
}

#gallery .box:nth-of-type(2) {
    left: 300px;
    top: 0;
    height: 576px;
}

#gallery .box:nth-of-type(3) {
    right: 300px;
    top: 0
}

#gallery .box:nth-of-type(4) {
    right: 0;
    top: 0
}

#gallery .box:nth-of-type(5) {
    left: 0;
    top: 300px;
}

#gallery .box:nth-of-type(6) {
    right: 0;
    bottom: 0;
    width: 576px;
    height: 576px;
}

#gallery .box:nth-of-type(7) {
    left: 0;
    bottom: 0;
    width: 576px;
}

#gallery .box:nth-of-type(1) .pic {
    background-image: url(../img/gallery_1_.jpg);
}

#gallery .box:nth-of-type(2) .pic {
    background-image: url(../img/gallery_2_.jpg);
}

#gallery .box:nth-of-type(3) .pic {
    background-image: url(../img/gallery_3_.jpg);
}

#gallery .box:nth-of-type(4) .pic {
    background-image: url(../img/gallery_4_.jpg);
}

#gallery .box:nth-of-type(5) .pic {
    background-image: url(../img/gallery_5_.jpg)
}

#gallery .box:nth-of-type(6) .pic {
    background-image: url(../img/gallery_8_.jpg)
}

#gallery .box:nth-of-type(7) .pic {
    background-image: url(../img/gallery_7_.jpg)
}



#gallery .box .pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gallery .box .pic>img {
    display: none;
    height: 100%;
}

#gallery .box .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: rgba(243, 241, 241, 0.7);
    color: #000;
    opacity: 0;
    transition: 0.3s;
}

#gallery .box .info .sub_title {
    margin: 0 auto;
    border: 1px solid #333;
    width: 150px;
    height: 50px
}

#gallery .box .info .sub_title a {
    font: 18px/50px 'Mukta';
    color: #333;
    text-shadow: 0 0 5px #fff;
    text-align: center;
}

#gallery .box .info .insta {
    display: block;
}

#gallery .box .info .insta {
    display: block;
    margin: 0 0 10px 0;
    font-size: 30px;
    color: #444;
}

#gallery .view_more {
    display: block;
    width: 200px;
    height: 50px;
    margin: 60px auto;
    font: 20px/50px 'Lora';
    text-align: center;
    border: 1px solid #444;
    color: #444;
    transition: 0.3s;
}

#gallery .view_more:hover {
    background-color: #666;
    color: #fff;
    border-color: transparent
}



@media screen and (max-width:1024px) {
    #gallery .inner {
        width: 100%;
    }

    #gallery .wrap {
        width: 748px;
        height: 748px;
        margin: 0 auto;
    }

    #gallery .box {
        width: 236px;
        height: 236px;
    }

    #gallery .box:nth-of-type(1) {
        left: 0;
        top: 0;
    }

    #gallery .box:nth-of-type(2) {
        left: 256px;
        top: 0;
        height: 490px;
    }

    #gallery .box:nth-of-type(3) {
        left: 0;
        right: auto;
        top: 256px;
    }

    #gallery .box:nth-of-type(4) {
        right: 0;
        top: 0
    }

    #gallery .box:nth-of-type(5) {
        left: auto;
        right: 0;
        top: 256px;
    }

    #gallery .box:nth-of-type(6) {
        left: 0;
        right: auto;
        bottom: 0;
        width: 236px;
        height: 236px;
    }

    #gallery .box:nth-of-type(7) {
        left: auto;
        right: 0;
        bottom: 0;
        width: 490px;
    }



}

@media screen and (max-width:768px) {


    #gallery .wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 600px;
        height: 1500px;
    }

    #gallery .box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 48.5%;
        height: auto;
        overflow: visible;
    }

    #gallery .box:nth-of-type(1) {
        left: 0;
        top: 0;
        height: 20%;
    }

    #gallery .box:nth-of-type(2) {
        left: auto;
        right: 0;
        top: 0;
        height: 38%
    }

    #gallery .box:nth-of-type(3) {
        left: 0;
        top: 21.5%;
        height: 20%
    }

    #gallery .box:nth-of-type(4) {
        left: auto;
        right: 0;
        top: 39.55%;
        height: 22%;
    }

    #gallery .box:nth-of-type(5) {
        left: 0;
        top: 43%;
        height: 28%;
    }

    #gallery .box:nth-of-type(6) {
        left: auto;
        right: 0;
        top: 63%;
        width: 48.5%;
        height: 26%;
    }

    #gallery .box:nth-of-type(7) {
        left: 0;
        top: 72.5%;
        width: 48.5%;
        height: 16.5%;
    }

    #gallery .box .info .sub_title {
        position: static;
        transform: translate(0, 0);
    }

    #gallery .box .info {
        position: static;
        height: 100px;
        padding: 30px;
        background: rgba(243, 241, 241, 0.7);
        opacity: 1;
    }

    #gallery .box:hover .info {
        opacity: 1;
        position: static;
    }

    #gallery .box .info .insta {
        margin: 0;
    }

    #gallery .view_more {
        margin: 0 auto;
    }
}

@media screen and (max-width:640px) {

    #gallery .wrap {
        width: 440px;
        height: 1200px;
    }

    #gallery .box:nth-of-type(1) {
        height: 18%;
    }

    #gallery .box:nth-of-type(2) {
        height: 36%
    }


    #gallery .box:nth-of-type(3) {
        top: 19.2%;
        height: 18%
    }

    #gallery .box:nth-of-type(4) {
        top: 37.2%
    }


    #gallery .box:nth-of-type(5) {
        top: 38.3%;
    }

    #gallery .box:nth-of-type(6) {
        top: 60.3%;
        height: 23.7%;
    }

    #gallery .box:nth-of-type(7) {
        top: 67.5%;
        height: 16.5%;
    }

    #gallery .box .info {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 80px;
    }

    #gallery .box .info .insta {
        font-size: 30px;
        color: #444;
    }

    #gallery .box .info .sub_title {
        margin: 0;
        width: 100px;
        height: 40px;
    }

    #gallery .box .info .sub_title a {
        font: 16px/38px 'Mukta';
    }
}

@media screen and (max-width:480px) {
    #gallery .wrap {
        width: 300px;
        height: auto;
    }

    #gallery .box {
        position: static;
        display: block;
        width: 100%;
        height: 250px;
        margin-bottom: 24px;
    }

    #gallery .box .pic {
        height: 200px;
    }


    #gallery .box:nth-of-type(6) {
        width: 100%;
    }

    #gallery .box:nth-of-type(7) {
        width: 100%;
    }

    #gallery .box:hover .info {
        opacity: 1;
        left: 0%;
        top: 100px;
    }

    #gallery .box .info .insta {
        display: block;
        font-size: 30px;
        color: #444;
    }

    #gallery .view_more {
        display: block;
        width: 200px;
        height: 50px;
        margin: 60px auto;
        font: 20px/50px 'Lora';
    }

    #gallery .box .info {
        height: 100px;
        padding: 30px 40px;
        top: 100px;
    }

    #gallery .box .info .sub_title {
        width: 150px;
        height: 50px
    }

    #gallery .box .info .sub_title a {
        font: 18px/50px 'Mukta';
    }

    #gallery .box .info .insta {
        font-size: 30px;
    }
}




#footer {
    position: relative;
    padding: 100px 0 130px;
    background-color: #f6f6f2
}

#footer .wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

#footer .box {
    width: 376px;
}

#footer .footer_title {
    font: 26px 'Mukta';
    color: #444;
    padding-bottom: 30px;
}

#footer .week {
    padding: 0px 0 20px;
    width: 70%;
    border-bottom: 1px dotted #ddd;
    font: 18px 'Mukta';
    color: #777;
}

#footer .week span {
    padding-right: 10px;
    color: #444;
}



#footer .social {
    padding: 30px 0 0
}

#footer .social .get {
    display: inline-block;
    padding: 0 20px 0 0;
    font: 18px 'Mukta';
    color: #555;
}

#footer .social .sns {
    display: inline-block;
}

#footer .social .sns li {
    display: inline-block;
    padding: 0px 7px;
}

#footer .social .sns li a {
    display: block;
    color: #555;
}


#footer .txt1 {
    padding: 0 0 10px 0;
    font: 16px 'Mukta';
    color: #555;
}

#footer .txt1::before {
    display: inline-block;
    padding-right: 20px;
    font: 900 16px 'Font Awesome 5 free';
    color: #d0af8a
}

#footer .rocation::before {
    content: '\f3c5';
}

#footer .contact::before {
    content: '\f879';
}

#footer .email::before {
    content: '\f0e0';
}

#footer .txt {
    padding: 0 0 40px 0;
    font: 18px 'Mukta';
    color: #777;
}

#footer label {
    display: block;
    font: 20px 'Mukta';
    color: #555;
}

#footer input {
    display: inline-block;
    width: 300px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 1px dotted #555;
    outline: none;
}

#footer button {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background-color: #d0af8a;
    border-radius: 100%;
    border-color: transparent;
    outline: none;
    transition: 0.3s
}

#footer button:hover {
    background-color: #c48845
}

#footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #ececdf;
    font: 16px/50px 'Mukta';
    color: #555;
    text-align: center;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 980px) {
    #footer .footer_title {
        font: 26px 'Mukta';
        color: #444;
        padding-bottom: 30px;
        text-align: center;
    }

    #footer .wrap {
        display: block;
        text-align: center;
    }

    #footer .box:nth-of-type(1) {
        float: left;
        width: 50%;
    }

    #footer .box:nth-of-type(1) .week {
        width: 100%;
        text-align: center
    }


    #footer .box:nth-of-type(2) {
        float: right;
        width: 50%;
    }

    #footer .box:nth-of-type(3) {
        float: left;
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    #footer .footer_title {
        font: 26px 'Mukta';
        color: #444;
        padding-bottom: 30px;
        text-align: center;
    }

    #footer .wrap {
        display: block;
        text-align: center;
    }

    #footer .box:nth-of-type(1) {
        width: 100%;
    }



    #footer .box:nth-of-type(2) {
        width: 100%;
        margin-top: 50px;
    }

    #footer .box:nth-of-type(3) {
        margin-top: 50px;
    }
}

@media screen and (max-width: 430px) {
    #footer button {
        margin-top: 20px
    }
}