@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #000;
  line-height: 1.6em;
}

.faq {
  color: #fff;
}
.faq_inner {
  width: 900px;
  margin: auto;
}
.faq_inner h1 {
  font-size: 36px;
  text-align: center;
}
.faq_title {
  position: relative;
  margin: 1.5px 0;
  padding: 10px;
  background-color: #555;
  cursor: pointer;
}
.faq_title::before, .faq_title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  transition: 0.2s;
}
.faq_title::before {
  right: 20px;
  width: 20px;
  height: 2px;
}
.faq_title::after {
  right: 29px;
  width: 2px;
  height: 20px;
}
.faq_title.active::after {
  height: 0;
}
.faq_content {
  display: none;
  margin-bottom: 1.5px;
  padding: 10px;
  background-color: #2d2d2d;
}