body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.mockup {
  .mobile_mockup {
    position: relative;
    width: 430px;
    height: 850px;
    border-radius: 30px;
    border: 1px solid #ddd;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 97.5%;
      height: 98.5%;
      border-radius: 27px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .iframe_url {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      width: 400px;
      height: 680px;
      border: 1px solid #eee;
      color: #fff;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .camera {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      height: 70px;
      span {
        position: absolute;
        background-color: #555;
        &:nth-child(1) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 6px;
          border-radius: 8px;
        }
        &:nth-child(2) {
          left: 130px;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }
        &:nth-child(3) {
          left: 50%;
          top: 10px;
          transform: translateX(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
    .home_btn {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      height: 85px;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border: 1px solid #ddd;
        border-radius: 50%;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          height: 70px;
          border-radius: 50%;
          box-shadow: inset 0 0 5px #606060;
        }
      }
    }
    .power {
      position: absolute;
      top: 87px;
      right: 0;
      span {
        position: absolute;
        width: 7px;
        height: 40px;
        border-radius: 0 5px 5px 0;
      }
    }
    .volume {
      position: absolute;
      top: 87px;
      right: 100%;
      width: 7px;
      height: 150px;
      span {
        position: absolute;
        width: 7px;
        height: 40px;
        border-radius: 0 5px 5px 0;
        transform: rotateY(180deg);
        &:nth-child(1) {
          top: 0;
          height: 25px
        }
        &:nth-child(2) {
          bottom: 55px;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
    .volume span,
    .power span {
      background-color: #ddd;
    }
  }
}

@media screen and (max-width: 1700px) {
  .mockup {
    .mobile_mockup {
      width: 380px;
      height: 550px;
      .iframe_url {
        width: 350px;
        height: 420px;
      }
      .camera {
        width: 290px;
        height: 50px;
        span {
          &:nth-child(1) {
            width: 60px;
            height: 4px;
            border-radius: 3px;
          }
          &:nth-child(2) {
            left: 90px;
            width: 10px;
            height: 10px;
          }
          &:nth-child(3) {
            top: 8px;
            width: 6px;
            height: 6px;
          }
        }
      }
      .home_btn {
        bottom: 4px;
        width: 380px;
        height: 55px;
        span {
          width: 30px;
          height: 30px;
          &::before {
            width: 40px;
            height: 40px;
        }
      }
      .power {
        top: 125px;
        span {
          width: 4px;
          height: 30px;
        }
      }
      .volume {
        top: 75px;
        width: 4px;
        height: 120px;
        span {
          width: 4px;
          height: 30px;
          &:nth-child(1) {
            height: 20px
          }
          &:nth-child(2) {
            bottom: 37px;
          }
        }
      }
    }
    
  }
}
}