* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ol,
ul,
li {
    list-style: none
}

a {
    text-decoration: none
}



.content {
    width: 100%;
    padding: 150px 0px;
}

.content .inner {
    width: 1180px;
    margin: 0 auto;
}

.content .inner::after {
    content: '';
    clear: both;
    display: block;
}

.content h2 {
    margin-bottom: 40px;
    font: bold 36px '맑은 고딕';
    text-align: center;
    color: #333;
}

@media screen and (max-width:1200px) {
    .content {
        padding: 120px 40px;
    }

    .content .inner {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .content {
        padding: 80px 40px;
    }
}

@media screen and (max-width:640px) {
    .content {
        padding: 60px 20px;
    }
}

#card {
    background: url('../img/bg-2.jpg') fixed center;
    background-size: cover
}

#card h2 {
    margin-top: 50px;
    color: #fff;
}

#card .inner {
    position: relative;
    overflow: hidden;
}

#card .swiper-container {
    width: 100%;
    overflow: visible;
}

#card .swiper-slide {
    width: 376px;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#card .swiper-slide .pic {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

#card .swiper-slide .pic img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

#card .swiper-slide .msg {
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    margin-top: 20px;
    text-align: center;
    transition: 0.3s 0.4s;
}

#card .swiper-slide .msg h3 {
    font: bold 28px 'Indie Flower'
}

#card .swiper-slide .msg p {
    margin-top: 10px;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    line-height: 1.2em;
}

#card .swiper-slide:hover .pic {
    margin-top: -8.4em;
}

#card .swiper-slide:hover .msg p {
    height: 8.4em;
}

#card .swiper-btn {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}


@media screen and (max-width:1200px) {
    #card .swiper-slide {
        width: 31.333%;
        padding: 30px;
    }
}

@media screen and (max-width:980px) {
    #card .swiper-slide {
        padding: 25px;
    }

    #card .swiper-slide:hover .pic {
        margin-top: -12em;
    }

    #card .swiper-slide:hover .msg p {
        height: 12em;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 14px
    }

    #card .swiper-slide {
        width: 48.5%;
        margin-bottom: 150px;
    }

    #card .swiper-slide:hover .pic {
        margin-top: -8.4em;
    }

    #card .swiper-slide:hover .msg p {
        height: 8.4em;
    }
}

@media screen and (max-width:640px) {
    html {
        font-size: 13px
    }

    #card .inner {
        width: 300px
    }

    #card .swiper-slide {
        width: 100%;
    }
}